*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    height: 70vh;
    gap: 20px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.texto{
    border: 3px solid rgb(75, 202, 211);
    border-radius: 5px;
    background-color: rgb(72, 99, 189);
    color: white;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}
.inputs{
    background-color: slateblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 20px;
}