*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Relief", system-ui;
    color: aliceblue;
}
body{
    padding-top: 80px;
    background-image: url('../images/bg-leo-pele.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}
input{
    padding: 15px;
    border-radius: 999px;
    border: none;
    border: 2px solid navy;
    color: deeppink;
}
button{
    padding: 15px;
    border-radius: 999px;
    border: none;
    border: 2px solid navy;
    color: deeppink;
}
button:hover{
    cursor: pointer;
        background-color: crimson;
    color: darkgoldenrod;
}
